
// use context7
@using MudBlazor
// MudBlazor.Dialog and MudBlazor.Snackbar are not namespaces, only use @using MudBlazor
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components.WebAssembly.Hosting
@using Microsoft.AspNetCore.Components.WebAssembly.Services
@using AutoTracking.Layout
@using AutoTracking
@using Blazored.LocalStorage

<MudThemeProvider>
    <MudDialogProvider />
    <MudSnackbarProvider>
        <Router AppAssembly="@typeof(App).Assembly">
            <Found Context="routeData">
                <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
                <FocusOnNavigate RouteData="@routeData" Selector="h1" />
            </Found>
            <NotFound>
                <PageTitle>Not found</PageTitle>
                <LayoutView Layout="@typeof(MainLayout)">
                    <p role="alert">Sorry, there's nothing at this address.</p>
                </LayoutView>
            </NotFound>
        </Router>
    </MudSnackbarProvider>
</MudThemeProvider>
